<link rel="stylesheet" href="/css/home.css">
<div class="container">
    <div class="description">
        <p>Description</p>
        <textarea name="description" id="des-text" cols="60" rows="2" placeholder="What do you need to do?"></textarea>
    </div>
    <div class="catg-date-section">
        <div class="catagory">
            Catagory
        </div>
        <div class="date">
            DD/MM/YY
        </div>
    </div>
    <div class="buttons">
        <div class="add-button">
            <button type="button">Add Task</button>
        </div>
        <div class="del-button">
            <button type="button">Delete Task</button>
        </div>
    </div>
    <div class="list-container">

    </div>
</div>
    