<link rel="stylesheet" href="/css/home.css">
<div class="container">
    <div class="description">
        <p>Description</p>
        <textarea name="description" id="des-text" cols="60" rows="2" placeholder="What do you need to do?"></textarea>
    </div>
    <div class="catg-date-section">
        <div class="catagory">
            Catagory
                <label for="catagory" ></label>
                <select name="catagory" id="cat-type">
                    <option value="">Choose Your Reminder Catagory</option>
                    <option value="Urgent" class="urgent">Urgent</option>
                    <option value="Important" class="_important">Important</option>
                    <option value="Personal" class="personal">Personal</option>
                    <option value="Social" class="social">Social</option>
                    <option value="Work" class="work">Work</option>
                    <option value="Other" class="other">Other</option>
                </select>
        </div>

        <div class="date">
            DD/MM/YY
        </div>
    </div>
    <div class="buttons">
        <div class="add-button">
            <button type="button"><i class="fa-regular fa-plus" style="color: #ffffff;"></i> Add Task</button>
        </div>
        <div class="del-button">
            <button type="button"><i class="fa-solid fa-trash" style="color: #ffffff;"></i> Delete Task</button>
        </div>
    </div>
    <div class="list-container">

    </div>
</div>
<script src="https://kit.fontawesome.com/bf0cf320c3.js" crossorigin="anonymous"></script>