*{
    margin: 0;
    /* background-color: rgb(174, 228, 210); */
}
.container {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    background-color: rgb(174, 228, 210);
}
.description{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.description p{
    margin-top: 1px;
    font-size: 1.5rem;
    margin-bottom: 2px;
}
.description:hover{
    background-color: rgb(184, 241, 222);
}
#des-text{
    border: none;
    width: 99%;
    border-radius: 5px;
    background-color: aquamarine;
    overflow: hidden;
    word-wrap: break-word;
    background: transparent;
}
#des-text:focus{
    outline: 0;
}
.catg-date-section{
    padding: 5px;
    /* margin-top: 4px; */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
}
select option:hover {
    background-color: blueviolet !important;
}
.catagory-list , .date{
    width: 50%;
    font-size: 1.4rem;
}
.catagory-list{
    border-right: 2px solid white;
}
.catagory:hover{
    background-color: rgb(184, 241, 222);
}
.date{
    padding-left: 5px;
}
.date:hover{
    background-color: rgb(184, 241, 222);
}
#cat-type{
    width: 96%;
    height: 25px;
    outline: 0px;
    border: none;
    background-color: transparent;
}
.buttons{
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    padding: 10px;
    border-bottom: 2px solid white;
    width: 100%;
}
.add-button{
    display: inline;
    padding: 2px;
    /* margin-left: 37%; */
}
.add-button > button{
    height: 60px;
    width: 100%;
    font-size: 1.2rem;
    align-items: center;
    text-align: center;
    border: none;
    cursor: pointer;
}
.addicon-bg:hover{
    background-color: green;
}
.delicon-bg:hover{
    background-color: red;
}
.del-button{
    display: inline;
    padding: 2px;
}
.del-button > button{
    height: 60px;
    width: 100%;
    font-size: 1.2rem;
    align-items: center;
    text-align: center;
    border: none;
    cursor: pointer;
}
.add-button > button:hover{
    background-color: green;
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    transition: 0.2s all ease-in;
}
.del-button > button:hover{
    background-color: red;
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    transition: 0.2s all ease-in;
}
.list-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}
.todo-cat{
    height: 30px;
    width: auto;
    background-color: antiquewhite;
}
input[type=checkbox]:focus{
    outline: 2px solid yellow;
    color: cadetblue;
  }
.custom-checkbox{
    height: 20px;
    width: 20px;
    background-color: #e0e0e0;
}
#apendDes{
    display: inline;
    font-size: 1.3rem;
    font-family: sans-serif;
    /* width: 65vw; */
}
#apendCat{
    display: inline-block;
    /* height: 25px; */
    font-size: 1.3rem;
    padding: 5px;
    /* width: auto; */
    font-family: sans-serif;
    border-radius: 10px;
    /* width: 15vw; */
}
#apendDate{
    display: inline;
    font-size: 1.1 rem;
    font-family: sans-serif;
    /* width: 15vw; */
}
.Urgent{
    background-color: red;
}
.Important{
    background-color: orange;
}
.Personal{
    background-color: green;
}
.Work{
    background-color: yellow;
}
.Other{
    background-color: blue;
}
/* .apendList{
    display: flex;
    justify-content: space-between;
 } */
/*'': 'red',
'': 'purple',
'': 'blue',
'': 'yellow',
'Other': 'white', */